{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Products" %}

{% block styles %}
<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./products.js"></script>
{% endblock %}

{% block content %}

<div class="circle-background">
  <div class="circle-background__inner">
  </div>
</div>
<section class="intro intro--products">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h1 class="intro__title">Strategický partner pro vaši firmu</h1>
      <p class="intro__text">S námi fameless opravdu nebudete. S čím pomůžeme vám?</p>
      <a href="#" class="intro__btn">Zjistit více</a>
    </div>
  </div>
</section>

<section class="blog blog--products">
  <div class="category__wrapper">
    <ul class="category filter-button-group js-filter-menu">
      <li class="category__item js-category__item is-checked" data-filter="all">Vše</li>
      <li class="category__item js-category__item" data-filter="software">Zakázkový software</li>
      <li class="category__item js-category__item" data-filter="eshop">E-shop</li>
      <li class="category__item js-category__item" data-filter="web">Prezentační web</li>
      <li class="category__item js-category__item" data-filter="mobil">Mobilní aplikace</li>
      <li class="category__item js-category__item" data-filter="logo">Loga</li>
      <li class="category__item js-category__item" data-filter="ux">Systémové UX & UI</li>
    </ul>
  </div>

  <div class="blog__inner grid product-list">
    <div class="row">

      <div class="grid-item filter-all  filter-shoptet filter-eshop filter-ux filter-consultant">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-logo filter-software">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-consultant">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all  filter-shoptet filter-eshop filter-consultant filter-mobil">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-ux">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software  filter-eshop filter-ux filter-consultant">
        {% include "src/views/partials/blog-item.html" %}
      </div>
      <div class="grid-item filter-all  filter-shoptet filter-eshop filter-ux filter-logo filter-software">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-mobil">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-logo filter-software">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all  filter-shoptet filter-eshop filter-consultant filter-mobil filter-software">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div class="grid-item filter-all filter-software filter-shoptet filter-eshop filter-ux">
        {% include "src/views/partials/blog-item.html" %}
      </div>

      <div
        class="grid-item filter-all filter-software  filter-eshop filter-ux filter-logo filter-mobil filter-software">
        {% include "src/views/partials/blog-item.html" %}
      </div>
    </div>
  </div>
</section>
{% include "src/views/partials/contact-banner.html" %}
{% endblock %}