@use '../abstracts/variables' as var;
@use '../base/mixins';
html,
body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #ADE8FF;
}

.center-x {
  text-align: center;
}

// Flex layout
.flex-column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  > :not(:first-child) {
    margin-left: var.$gap-md;
  }

  &.center-x {
    align-items: center;
  }

  &.center-y {
    justify-content: center;
  }
}

.flex-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  align-items: stretch;

  > :not(:first-child) {
    margin-left: var.$gap-md;
  }

  &.center-x {
    justify-content: center;
  }

  &.center-y {
    align-items: center;
  }
}

.fit-max {
  > :first-child {
    flex-basis: content;
  }

  > :not(:first-child) {
    flex-grow: 1;
  }
}

.circle-background {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  &__inner {
    &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('src/assets/images/icons/circle_white.svg');
      z-index: 0;
      background-repeat: no-repeat;
      width: 60%;
      height: 100%;
      background-size: 500px; 
      pointer-events: none;
  }
  &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('src/assets/images/icons/circle_white.svg');
      z-index: 0;
      background-repeat: no-repeat;
      width: 60%;
      height: 100%;
      background-size: 750px; 
      pointer-events: none;
    }
  }
  &::after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      background-image: url('src/assets/images/icons/circle_white.svg');
      z-index: 0;
      background-repeat: no-repeat;
      width: 60%;
      height: 100%;
      background-size: 1000px; 
      pointer-events: none;
  }
  @include mixins.respond-to(sm) {
    &::after {
      background-size: 450px; 
      background-size: 100%;
      inset: 0;
      width: 100%;
      background-position: center;
    }
  }
}