@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@200;300;400;500;600;700&display=swap');

$font-family: 'Epilogue', sans-serif !default;
$font-size: 16px !default;

body {
  font-family: $font-family;
  font-size: $font-size;
}

// Headings

$_head-font-weight: 600;
$_gap-top: 24px;
$_gap-bottom: 16px;

h1, h2, h3, h4, h5, h6 {
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  // Prevent code inside headings from being capitalized.
  code {
    text-transform: initial;
  }
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.s1, .s2, .s3, .s4, .s5, .s6 {

}

// Headlines

h1, .h1 {
  font-weight: $_head-font-weight;
  font-size: 32px;
  line-height: 40px;
}

h2, .h2 {
  font-weight: $_head-font-weight;
  font-size: 24px;
  line-height: 30px;
}

h3, .h3 {
  font-weight: $_head-font-weight;
  font-size: 20px;
  line-height: 25px;
}

h4, .h4 {
  font-weight: $_head-font-weight;
  font-size: 16px;
  line-height: 20px;
}

h5, .h5 {
  font-weight: $_head-font-weight;
  font-size: 14px;
  line-height: 18px;
}

h6, .h6 {
  font-weight: $_head-font-weight;
  font-size: 13.7px;
  line-height: 18px;
  color: #6a737d;
}

// Sublines
$_subline-font-weight: normal;
.s1 {
  font-weight: $_subline-font-weight;
  font-size: 32px;
  line-height: 40px;
}

.s2 {
  font-weight: $_subline-font-weight;
  font-size: 24px;
  line-height: 30px;
}

.s3 {
  font-weight: $_subline-font-weight;
  font-size: 20px;
  line-height: 25px;
}

.s4 {
  font-weight: $_subline-font-weight;
  font-size: 16px;
  line-height: 20px;
}

.s5 {
  font-weight: $_subline-font-weight;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

.s6 {
  font-weight: $_subline-font-weight;
  color: #6a737d;
  font-size: 13.7px;
  line-height: 18px;
  letter-spacing: 0.025em;
}

// Text

b, .b,
strong,
.strong {
  font-weight: bold;
}

.i {
  font-style: italic;
}

// Paragraph

// large
.p-lg {
  margin: 10px 0;
  font-size: 20px;
  line-height: 24px;
}

// medium
.p-md {
  margin: 10px 0;
  font-size: 18px;
  line-height: 22px;
}

// default
p, .p {
  margin: 10px 0;
  font-size: 16px;
  line-height: 20px;
}

// small
.p-sm {
  margin: 10px 0;
  font-size: 14px;
  line-height: 18px;
}

// extra small
.p-xs {
  margin: 10px 0;
  font-size: 12px;
  line-height: 16px;
}

.section-title {
  color: #070058;
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
  padding-left: 24px;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: -30px;
    left: 0;
    height: 2px;
    width: 100%;
    background-color: #08005C;
    opacity: 0.1278;
  }
  a {
    color: #070058;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    display: flex;
    align-items: center;
      span {
        content: '';
        margin-left: 30px;
        color: #070058;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 40px;
        margin-bottom: 5px;
    }
    &:hover {
      span {
        animation: bounceRight 1s infinite;
      }
    }
  }
}