{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Kontakt" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
{% endblock %}

{% block content %}

<div class="circle-background"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="#">Kontakt</a></li>
  </ol>
</nav>
<section class="contact">
  <div class="contact-box">
    <h1>Pojďme to společně probrat</h1>
    <div class="row">
      <div class="col-12 col-md-6">
        <h3>Napište nám</h3>
        <form action="" class="js-request-form">
          <input type="text" placeholder="Vaše jméno / Firma" class="js-contact-message" id="contact_name"
            name="contact_name" required="required">
          <input type="email" placeholder="Váš e-mail" class="js-contact-message" id="contact_email"
            name="contact_email" required="required">
          <textarea placeholder="Zaujala mě vaše případová studie, kde řešíte…" class="js-contact-message"
            id="contact_note" name="contact_note"></textarea>
          <button type="submit" class="button-secondary">
            Odeslat zprávu
          </button>
        </form>
        <div class="success-form form__wrapper--thankyou">
          <h3 class="success-form__title">Odesláno!</h3>
          <div class="success-form__text">
            <p>Děkujeme za kontaktování, ozveme se vám do druhého dne.</p>
            <p>Zatím se můžete podívat na naše <a href="/pripadove-studie/">případové studie</a>.</p>
          </div>
        </div>
        <div class="success-form form__wrapper--error">
          <h3 class="success-form__title">Chyba!</h3>
          <div class="success-form__text">
            <p>Během odesílání poptávkového formuláře nastala chyba. Zkuste to později, nebo nás kontaktuje jiným
              způsobem.</p>
            <p>Zatím se můžete podívat na naše <a href="/pripadove-studie">případové studie</a>.</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-lg-1">
        <div class="contact-box__right">
          <h3>Nebo nám zavolejte</h3>
          <div class="contact-box__call">
            <span><strong>+420 534 534 623</strong>pondělí – pátek 8.00 – 18.00</span>
          </div>
          <p>Nechte nám na sebe kontakt a my se vám nejpozději do druhého pracovního dne ozveme.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-calendar">
    <div class="row">
      <!--<div class="col-12 col-md-4">
        <div class="contact-calendar__inner">
          <h3>Zarezervujte si konzultaci</h3>
          <p>Nebo si rovnou vytvořte rezervaci na schůzku s námi.</p>
          <div class="contact-calendar__button">
            <a href="#" class="button-primary">Vytvořit rezervaci</a>
          </div>
        </div>
      </div>-->
      <div class="col-12">
        <h3>Zarezervujte si konzultaci</h3>
        <!-- Calendly inline widget begin -->
        <div class="calendly-inline-widget"
          data-url="https://calendly.com/famelesssro/30min?background_color=ffffff&primary_color=1273ef"
          style="min-width:320px;height:700px;"></div>
        <!-- Calendly inline widget end -->
      </div>
    </div>
  </div>
  <div class="contact-mid">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 offset-lg-1">
        <h3>Jsme na sítích</h3>
        <div class="contact-mid__socials">
          <div class="contact-mid__item">
            <div class="contact-mid__icon">
              <a href="https://www.facebook.com/dontbefameless" target="_blank">
                <img src="@images/contact/facebook-contact.svg">
              </a>
            </div>
            <div class="contact-mid__name">
              <a href="https://www.facebook.com/dontbefameless" target="_blank">Facebook</a>
            </div>
          </div>
          <div class="contact-mid__item">
            <div class="contact-mid__icon">
              <a href="https://www.linkedin.com/in/fameless-s-r-o-3a751323b" target="_blank">
                <img src="@images/contact/linkedin-contact.svg">
              </a>
            </div>
            <div class="contact-mid__name">
              <a href="https://www.linkedin.com/in/fameless-s-r-o-3a751323b" target="_blank">LinkedIn</a>
            </div>
          </div>
          <div class="contact-mid__item">
            <div class="contact-mid__icon">
              <a href="https://www.instagram.com/famelesssro" target="_blank">
                <img src="@images/contact/instagram-contact.svg">
              </a>
            </div>
            <div class="contact-mid__name">
              <a href="https://www.instagram.com/famelesssro" target="_blank">Instagram</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 offset-lg-2">
        <h3>Kde nás najdete</h3>
        <p>Divadelní 847<br>Letohrad, 561 51</p>
        <div class="contact-mid__map">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.6926074079115!2d16.498887476898346!3d50.0358555171285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470dfae3bfacbe19%3A0x5a8b39eb1ad1d59c!2sDivadeln%C3%AD%20847%2C%20561%2051%20Letohrad!5e0!3m2!1scs!2scz!4v1705496433085!5m2!1scs!2scz"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="contact-bottom">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 offset-lg-1">
        <h3>Fakturační údaje</h3>
        <p><strong>IČO: 04072448</strong></p>
        <p><strong>DIČ: CZ04072448</strong></p>
        <p>Společnost je zapsaná v obchodním rejstříku pod spisovou značkou C 46527 vedené u Krajského soudu v Hradci
          Králové.</p>
      </div>
      <div class="col-12 col-md-6 col-lg-5 offset-lg-2">
        <h3>Kontaktní údaje</h3>
        <p><a href="mailto:info@fameless.cz">info@fameless.cz</a></p>
        <p><a href="tel:+420534534623">+420 534 534 623</a></p>
      </div>
    </div>
  </div>
</section>
{% endblock %}