{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Home" %}

{% block styles %}
<!-- load specific page style -->
<link href="./style.scss" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./home.js"></script>
{% endblock %}

{% block content %}

<section>
  <div class="container">
    <div class="col-12 col-md-6">
      <h1>Máme za sebou více jak
        250 úspěšných projektů</h1>
      <p>S námi fameless opravdu nebudete. S čím pomůžeme vám?</p>
      <a href="#" class="btn-primary">Chci konzultaci</a>
    </div>
    <div class="col-12 col-md-6">
      <img class="pc-top" src="@images/homepage/pc_top.png">
    </div>
  </div>
</section>

<section class="team">
  <h2 class="section-title">Náš tým
    <a href="#">Více o Fameless <span>→</span></a>
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        {% include "src/views/partials/team-item.html" %}
      </div>
      <div class="col-12 col-md-3">
        {% include "src/views/partials/team-item.html" %}
      </div>
      <div class="col-12 col-md-3">
        {% include "src/views/partials/team-item.html" %}
      </div>
      <div class="col-12 col-md-3">
        {% include "src/views/partials/team-item.html" %}
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <h2 class="section-title">Případové studie vám napoví, co máme za sebou
    <a href="#">Všechny případové studie <span>→</span></a>
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
    </div>
  </div>
</section>


<section class="blog">
  <h2 class="section-title">Poslední novinky z Fameless
    <a href="#">Všechny novinky <span>→</span></a>
  </h2>
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
      <div class="col-12 col-md-4">
        {% include "src/views/partials/blog-item.html" %}
      </div>
    </div>
  </div>
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}