{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Home" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./home.js"></script>
{% endblock %}

{% block content %}
<div class="circle-background circle-background--index"></div>
<section class="intro">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h1 class="intro__title">Full-service pro<br>e-shop & váš brand</h1>
        <p class="intro__text">E-commerce od hlavy až k patě u více než 100 projektů</p>
        <a href="/kontakt/index.html" class="button-primary">Chci konzultaci</a>
      </div>
      <div class="col-12 col-md-6 col-auto">
        <div class="intro__mac">
          <img class="pc-top reveal-up100" src="@images/homepage/pc_top.png">
        </div>
        <div class="intro__circle">

        </div>
      </div>
    </div>
  </div>
</section>

<section class="services">

  <div class="row">
    {% include "src/views/partials/services.html" %}
  </div>

</section>

<section>
  <div class="swiper swiper-clients swiper-container-clients">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/dante.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/alkohol.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/buga.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/autodoplnky.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/motoobchod.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/vitalpoint.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/zazumi.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/arteon.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/ekokoza.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/iconic.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/balistas.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/elektro-sychra.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/ketodiet.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/lyzelyze.png">
      </div>
      <div class="swiper-slide">
        <img class="pc-top" src="@images/clients/homepage/invence.png">
      </div>
    </div>
  </div>
</section>

<section class="stats reveal-up200">

  <div class="stats__item">
    <div class="stats__number counter" data-count="25">0</div>
    <div class="stats__text">nových značek</div>
  </div>
  <div class="stats__item">
    <div class="stats__number counter" data-count="100">0</div>
    <div class="stats__text">realizovaných projektů</div>
  </div>
  <div class="stats__item">
    <div class="stats__number counter" data-count="10">0</div>
    <div class="stats__text">let zkušeností</div>
  </div>

</section>

<section class="products">
  <div class="section-title">
    <div class="section-title__left">
      <div class="section-title__icon section-title__icon--marketing">
        <img src="@images/icons/marketing.svg">
      </div>
      <h2 class=" section-title__title">Marketing</h2>
    </div>
    <div class="section-title__right">
      <a href="/marketing/">Kompletní nabídka</a>
    </div>
  </div>
  <div class="products__inner">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="products__item products__item--left-marketing reveal-opacity">
          <div class="products__images products__images--marketing justify-content-center">
            <img class="product-marketing" src="@images/homepage/homepage-marketing1.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="products__item">
          <h2 class="products__title">Komplexně<br>a strategicky</h2>
          <h5 class="products__subtitle">Marketingová řešení, která skutečně dávají smysl.</h5>
          <p class="products__text">Brand a strategie, výkon, <strong>Mailkit</strong>, zahraniční expanze e-shopů a
            mnohé další. Vždy uceleně, smysluplně, měřitelně a ve prospěch vaší značky. S námi neupadnete v zapomnění.
          </p>
          <a href="/marketing/index.html" class="button-secondary">
            Zjistit více
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="section-title">
    <div class="section-title__left">
      <div class="section-title__icon section-title__icon--pohoda">
        <img src="@images/icons/rozsireni_pohody.svg">
      </div>
      <h2 class="section-title__title">Rozšíření & SW produkty spojené s POHODA</h2>
    </div>
    <div class="section-title__right">
      <a href="/marketing/">Kompletní nabídka</a>
    </div>
  </div>
  <div class="products__inner">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
        <div class="products__item products__item--right-marketing reveal-opacity">
          <div class="products__images products__images--marketing justify-content-center">
            <img class="product-marketing" src="@images/homepage/homepage-pohoda.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
        <div class="products__item">
          <h2 class="products__title">Automatizace<br>na pohodu</h2>
          <h5 class="products__subtitle">Webová aplikace jako můstek mezi offline a online světem.</h5>
          <p class="products__text"><strong>Famedash</strong> by Fameless - naše webové řešení postavené na živých
            datech, které spolehlivě propojuje online řešení a program Pohoda a vede nejen k automatizaci procesů.</p>
          <a href="/pohoda/famedash.html" class="button-secondary">
            Zjistit více
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="work">
  <div class="section-title">
    <div class="section-title__left">
      <h2 class=" section-title__title">Jak fungujeme?</h2>
    </div>
    <div class="section-title__right">
      <a href="/kontakt/">Sjednejte si s námi schůzku</a>
    </div>
  </div>
  <div class="work__inner">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 justify-content-center align-items-center work__inner--left">
        <div class="work__image">
          <img src="@images/homepage/work-phone.png">
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="accordion reveal-up100" id="accordionExample">
          <div class="accordion-item active">
            <h2 class="accordion-header" id="headingOne">
              <div class="accordion-icon">
                <img src="@images/icons/konzultujeme.svg">
              </div>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Konzultujeme
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku.
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingTwo">
              <div class="accordion-icon">
                <img src="@images/icons/analyzujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Analyzujeme
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Vaše data i procesy si proklepneme od hlavy až k patě. Na nás je spoleh.
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingThree">
              <div class="accordion-icon">
                <img src="@images/icons/navrhujeme_reseni.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Navrhujeme řešení
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Vždy je co zlepšovat a posunovat, a proto vám navrhneme ideální řešení na míru.
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingFour">
              <div class="accordion-icon">
                <img src="@images/icons/testujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Testujeme
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Než vám začneme všechno měnit přímo pod rukama, pečlivě vše otestujeme.
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingFive">
              <div class="accordion-icon">
                <img src="@images/icons/implementujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Implementujeme
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                A to nejlepší na konec, všechno nasadíme a také vás perfektně proškolíme.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="products">
  <div class="section-title">
    <div class="section-title__left">
      <div class="section-title__icon section-title__icon--pohoda">
        <img src="@images/icons/skladovy_system.svg">
      </div>
      <h2 class="section-title__title">Skladový systém</h2>
    </div>
    <div class="section-title__right">
      <a href="/skladovy-system/index.html">Všechny produkty</a>
    </div>
  </div>
  <div class="products__inner">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
        <div class="products__item products__item--right-marketing reveal-opacity">
          <div class="products__images products__images--marketing justify-content-center">
            <img class="product-marketing" src="@images/homepage/homepage-sklad.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
        <div class="products__item">
          <h2 class="products__title">Mazané<br>řízení skladu</h2>
          <h5 class="products__subtitle">Mějte svůj sklad pod kontrolou.</h5>
          <p class="products__text">Chytrý jako opice. Takový je WMS - Storage Monkey. Pomáhá s <strong>řízením,
              efektivním uspořádáním a sledováním skladových položek</strong>. Díky <strong>automatizaci
              procesů</strong> přispívá ke <strong>zrychlení skladových operací</strong> a nejen to. </p>
          <a href="/skladovy-system/index.html" class="button-secondary">
            Zjistit více
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="software">
    <a href="/skladovy-system/skladovy-system.html" class="software__item">
      <div class="software__icon">
        <img src="@images/icons/storage-monkey.svg">
      </div>
      <h3 class="software__title">Storage Monkey</h3>
      <p class="software__text">
        Automatizace procesů, zrychlení skladových operací, přehled o stavu jednotlivých skladových položek, lokalizace,
        eliminace lidského faktoru, časová úspora a snížení chybovosti.
      </p>
    </a>
    <a href="/skladovy-system/aplikace-ctecka.html" class="software__item">
      <div class="software__icon">
        <img src="@images/icons/aplikace-ctecky.svg">
      </div>
      <h3 class="software__title">Aplikace čtečky</h3>
      <p class="software__text">
        Důmyslná a uživatelsky přívětivá aplikace WMS - Storage Monkey pokrývá všechny klíčové skladové procesy. Hravě
        si ale poradí i s pokročilými funkcemi pro efektivnější řízení skladů.
      </p>
    </a>
    <a href="/skladovy-system/administracni-rozhrani.html" class="software__item">
      <div class="software__icon">
        <img src="@images/icons/administracni-rozhrani.svg">
      </div>
      <h3 class="software__title">Administrační rozhraní</h3>
      <p class="software__text">
        Na přehledném a uceleném dashboardu snadno odhalíte, kdo a jak rychle zabalil kolik kusů zboží a balíků v jaké
        váze. Získáte tak přehled, z kterého hravě vypočtete KPI skladu a jeho provozu.
      </p>
    </a>
  </div>

  <div class="products__inner">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5">
        <div class="products__item products__item--left-marketing reveal-opacity">
          <div class="products__images products__images--marketing justify-content-center">
            <img class="product-marketing" src="@images/homepage/homepage-automatizace.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5">
        <div class="products__item">
          <h2 class="products__title">Automatizace</h2>
          <h5 class="products__subtitle">Procesy řízené workflow.</h5>
          <p class="products__text">Optimálně nastavené workflow a procesní automatizace na pozadí se postarají o
            minimalizaci lidského faktoru a chybovosti.</p>
          <a href="/integrace/index.html" class="button-secondary">
            Zjistit více
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="section-title">
    <div class="section-title__left">
      <div class="section-title__icon section-title__icon--pohoda">
        <img src="@images/icons/integrace.svg">
      </div>
      <h2 class="section-title__title">Integrace</h2>
    </div>
    <div class="section-title__right">
      <a href="/integrace/">Kompletní nabídka</a>
    </div>
  </div>

  <div class="products__inner">
    <div class="row justify-content-md-center">
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
        <div class="products__item products__item--right-marketing reveal-opacity">
          <div class="products__images products__images--marketing justify-content-center">
            <img class="product-marketing small" src="@images/homepage/homepage-integrace.png">
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
        <div class="products__item">
          <h2 class="products__title">Efektivní integrace</h2>
          <h5 class="products__subtitle">Co můžete čekat? </h5>
          <p class="products__text"><strong>Perfektní přehled</strong>. Vyvinuli jsme aplikaci <strong>FameBee, díky
              které propojíte SupportBox</strong> s dnes nejpoužívanějším ekonomickým systémem na českém trhu
            <strong>POHODA</strong>. Propojení vaší Pohody se SupportBox <strong>zvládnete velmi snadno</strong>.
          </p>
          <a href="/integrace/index.html" class="button-secondary">
            Zjistit více
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="blog">
  <div class="section-title">
    <div class="section-title__left">
      <h2 class=" section-title__title">Případové studie vám napoví, co máme za sebou</h2>
    </div>
    <div class="section-title__right">
      <a href="#">Všechny případové studie</a>
    </div>
  </div>
  <div class="blog__inner">
    <div class="row">
      <div class="swiper swiper-studie">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <a href="/studie/" class="blog-item">
              <div class="blog-item__image">
                <img class="pc-top" src="@images/pripadove-studie/ekokoza-nahled.png">
                <!--<div class="blog-item__labels">
                  <div class="label">
                    Marketing
                  </div>
                  <div class="label">
                    E-mailing
                  </div>
                  <div class="label">
                    Skladové řešení
                  </div>
                </div>-->
              </div>
              <div class="blog-item__inner">
                <h3 class="blog-item__title">
                  Ekokoza CZ,<br>migrace e-shopu
                </h3>
                <p class="blog-item__text">
                  Nabízíme migraci vašeho e-shopu pod
                  IS POHODA a nadstavbový systém BSSHOP, která zajistí precizní on-line synchronizaci e-shopu a
                  dalších
                  systémů.
                </p>
              </div>
              <span class="blog-item__arrow"></span>
            </a>
          </div>
          <div class="swiper-slide">
            <div class="blog-item">
              <div class="blog-item__image">
                <img class="pc-top" src="@images/pripadove-studie/buga-nahled.png">
              </div>
              <div class="blog-item__inner">
                <h3 class="blog-item__title">
                  Buga,<br>IS POHODA by Fameless
                </h3>
                <p class="blog-item__text">
                  Díky živému propojení IS POHODA a webové aplikace FAMEDASH budete mít o svém e-shopu vždy perfektní
                  přehled v reálném čase, stejně jako Buga, výrobce originální české módy.
                </p>
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="blog-item">
              <div class="blog-item__image">
                <img class="pc-top" src="@images/pripadove-studie/vitalpoint-nahled.png">
              </div>
              <div class="blog-item__inner">
                <h3 class="blog-item__title">
                  VitalPoint,<br>komplexní mailing kit
                </h3>
                <p class="blog-item__text">
                  Nabízíme profesionální správu vašeho marketingu, vč. komplexního mailingového servisu se skutečným
                  dopadem na návštěvnost vašeho e-shopu.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper-button-prev swiper-button-studie-prev"></div>
        <div class="swiper-button-next swiper-button-studie-next"></div>
      </div>
    </div>

  </div>
</section>

<section class="work">
  <div class="section-title">
    <div class="section-title__left">
      <h2 class=" section-title__title">Spolupracujeme s těmi nejlepšími</h2>
    </div>
    <div class="section-title__right">
      <a href="#">Všichni partneři</a>
    </div>
  </div>

  <div class="row">
    <div class="software software--reference reveal-up100">
      <div class="software__item">
        <div class="software__icon">
          <img src="@images/clients/bsshop.png">
        </div>
        <h3 class="software__title">BSSHOP</h3>
        <p class="software__text">
          Bezkonkurenční propojení s IS POHODA založené na přímém on-line napojení do databáze IS a precizní
          synchronizaci na všech systémových úrovních v reálném čase.
        </p>
      </div>
      <div class="software__item">
        <div class="software__icon">
          <img src="@images/clients/pohoda.png">
        </div>
        <h3 class="software__title">Pohoda</h3>
        <p class="software__text">
          IS POHODA vám nejen nainstalujeme, umíme také na míru vyvinout nadstavbové nástroje. Ať už je třeba usnadnit,
          automatizovat nebo třeba efektivněji propojit procesní operace a systémy.
        </p>
      </div>
      <div class="software__item">
        <div class="software__icon">
          <img src="@images/clients/mailkit.png">
        </div>
        <h3 class="software__title">MailKit</h3>
        <p class="software__text">
          Potřebujete se spolehnout na to, aby hromadná rozesílka e-mailů dorazila jak má a nezapadla do spamu? Můžete.
          Máte totiž nás. A my máme Mailkit - uživatelsky přívětivý a efektivní mailingový nástroj.
        </p>
      </div>
    </div>
  </div>

</section>


<section class="team">
  <div class="section-title">
    <div class="section-title__left">
      <h2 class=" section-title__title">Náš tým</h2>
    </div>
    <div class="section-title__right">
      <a href="#">Více o Fameless</a>
    </div>
  </div>
  <div class="team__inner">
    <div class="row">
      <div class="swiper swiper-team">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            {% include "src/views/partials/team/emilie-tomanova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/jakub-sedaj.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/ondra-tobiska.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/lubos-racek.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/ondra-stantejsky.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/zuzana-cebulova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/anna-doubravova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/vojtech-kral.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/martin-jenik.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/ivo-kylian.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/denisa-prokopova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/pavla-bubakova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/eva-pracharova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/kamila-krejcova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/petra-hubalkova.html" %}
          </div>
          <div class="swiper-slide">
            {% include "src/views/partials/team/tomas-ludwig.html" %}
          </div>
        </div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
  </div>
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}