@use '../abstracts/variables' as var;
@use '../base/mixins';

// sticky header height normal, no scrolling
$header-max-height: 100px;
// sticky header height by scrolling
$header-min-height: 60px;

// main content
$content-padding-x: 50px;

// footer
$footer-text-color: #b1c4d0;
$footer-bg-color: #15384f;

.header-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 /*  position: sticky;
  top: 0; */
  position: fixed;
  width: 100%;
  min-height: 100px;
  margin-bottom: 50px;
  z-index: 10;
  padding: 10px 0;
  @include mixins.respond-to(sm) {
    display: none;
  }
  &.small-header {
    min-height: auto;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    .header-content {
      .header-top {
        height: 0;
        opacity: 0;
        visibility: hidden;
        max-height: 0;
      }
    }
    .app-logo {
      .logo-right {
        animation: slideOutLeftAndFade 0.8s forwards;
      }
    }
    @keyframes slideOutLeftAndFade {
      from {
        opacity: 1;
        transform: translateX(0);
      }
    
      to {
        opacity: 0;
        transform: translateX(-100%);
      }
    }
  }
  .header-content {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    width: 100%;
    .navigation__link {
      position: relative;
    }
    .header-top {
      border-bottom: 1px solid rgba(7, 0, 88, 0.1);
      height: 55px;
      max-height: 60px;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      transition: all 0.2s ease-in-out;
      a {
        color: #070058;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        padding: 0 20px;
        @include mixins.animation();
        &:last-child {
          padding-right: 0;
          padding-left: 0;
        }
        &:hover {
          color: #1273EF;
        }
      }
      .header-login {
        border-radius: 34px;
        border: 1px solid #08005C;
        color: #070058;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
        padding: 6px 24px;
        &:hover {
          color:#fff;
          border-color: #fff;
        }
      }
      .header-social {
        padding-left: 16px;
        svg {
          height: 16px;
          width: auto;
          path {
            @include mixins.animation();
          }
        }
        &:hover {
          svg {
            path {
              fill-opacity: 1;
            }
          }
        }
      }
    }
    .header-bottom {
      display: flex;
      height: 44px;
      align-items: center;
      justify-content: flex-end;
        a {
          margin: 0 17px;
          color: #070058;
          font-size: 15px;
          font-style: normal;
          font-weight: 500;
          line-height: 24px;
          position: relative;
          display: flex;
          align-items: center;
          @include mixins.animation();
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: #1273EF;
            bottom: 0;
            left: 0;
            transform-origin: right;
            transform: scaleX(0);
            transition: transform .3s ease-in-out;
        }
        &:hover {
          color: #1273EF;
            &::after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }
          &:last-child {
            margin-right: 0;
          }
          &:before {
            content: '';
            position: absolute;
            left: -12px;
            top: 7px;
            border-radius: 50%;
          }
          &:first-child {
            &:before {
              width: 8px;
              height: 8px;
              background: linear-gradient(180deg, #1273EF 0%, #0D5DC5 100%);
            }
          }
          &:nth-child(2) {
            &:before {
              width: 8px;
              height: 8px;
              background: linear-gradient(180deg, #4BC6B6 0%, #37A395 100%);
            }
          }
          &:nth-child(3) {
            &:before {
              width: 8px;
              height: 8px;
              background: linear-gradient(180deg, #F75544 0%, #AD2A1C 100%);
            }
          }
          &:nth-child(4) {
            &:before {
              width: 8px;
              height: 8px;
              background: linear-gradient(180deg, #2E09AE 0%, #08005C 100%);
            }
          }
          &:nth-child(5) {
            &:before {
              width: 8px;
              height: 8px;
              background: linear-gradient(180deg, #FAAD21 0%, #D4931D 100%);
            }
          }
          &:last-child {
            margin-left: 30px;
            &:before {
              width: 1px;
              height: 18px;
              opacity: 0.1;
              background: #070058;
              top: 2px;
              left: -24px;
            }
          }
        }
        .second-level {
          margin-right: 10px;
          .has-arrow {
            &::after {
              content: '';
              position: absolute;
              right: -14px;
              top: 7px;
              left: unset;
              background-image: url('src/assets/images/icons/arrow-down-dark.svg');
              width: 10px;
              height: 8px;
              background-color: transparent;
              transform: unset;
              background-size: 100%;
              background-repeat: no-repeat;
            }
            &:hover {
              &::after {
                background-image: url('src/assets/images/icons/arrow-down-light.svg');
              }
            }
          }
          ul {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            top: 30px;
            left: -10px;
            border-radius: 10px;
            background: #FFF;
            box-shadow: 6px 6px 19px 0px rgba(5, 1, 45, 0.11);
            list-style-type: none;
            padding: 24px;
            min-width: 300px;
            @include mixins.animation();
            li {
              list-style-type: none;
              padding-left: 0;
              a {
                color: #08005C;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                margin-left: 0;
                &::before {
                  content: none;
                }
                &::after {
                  content: none;
                }
              }
              &:hover {
                a {
                  color: #1273EF;
                  text-decoration: underline;
                }
              }
            }
          }
          &:hover {
            ul {
              opacity: 1;
              visibility: visible;
            }
          }
        }
    }
  }

  .app-logo {
    max-height: 30px;
    min-height: 30px;
    margin-right: 20px;
    transition: all 0.3s ease-in-out;
  }
}
