{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Brand management a strategie" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/marketing/">Markeging</a></li>
    <li><a href="#">Brand management a strategie</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/marketing/brand/sticky-icon-brand.svg">
        </div>
        <div class="sticky-element__text">
          Brand management a strategie
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Brand management a strategie</h1>
            <p class="intro__text">Komplexní strategie na míru, spolupráce více na těsno, všechny služby pod jednou
              střechou</p>
            <a href="#content" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>
      <section id="content">
        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/potencial-znacky.svg">
            </div>
            <h3 class="software__title">Potenciál<br>značky</h3>
            <p class="software__text">
              Pochopíme potenciál vaší značky a pomůžeme vám ho plně čerpat
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/mene-vice.svg">
            </div>
            <h3 class="software__title">Méně může<br>být více</h3>
            <p class="software__text">
              Ctíme Parretovo pravidlo, proto se plně zaměříme na aktivity, které jsou pro vaše podnikání důležité
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/nove-cesty.svg">
            </div>
            <h3 class="software__title">Nalezneme<br>nové cesty</h3>
            <p class="software__text">
              Nezatíženi detailní znalostí vašeho produktu často vidíme příležitosti, které ostatní snadno přehlédnou
            </p>
          </div>
        </div>
        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/brand/strategie.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Strategie</h2>
                <h5 class="products__subtitle">Síla je v komplexnosti a strategii</h5>
                <p class="products__text">Každý marketingový kanál má svá specifika. Pro jednotlivé projekty
                  <strong>individuálně navrhujeme vyváženou a synergickou strategii</strong> mezi vhodnými
                  marketingovými kanály.
                </p>
                <p class="products__text">Nebojíme se Vás od některých on-line aktivit odradit ani Vám doporučit
                  vhodnější off-line aktivity nebo prostředky.</p>
              </div>
            </div>
          </div>
        </div>

        <section class="stats reveal-up200">
          <div class="stats__item">
            <div class="stats__number counter" data-count="25">0</div>
            <div class="stats__text">nových značek</div>
          </div>
          <div class="stats__item">
            <div class="stats__number counter" data-count="12">0</div>
            <div class="stats__text">zemí, kam expandovaly naše e-shopy</div>
          </div>
          <div class="stats__item">
            <div class="stats__number counter" data-count="10">0</div>
            <div class="stats__text">let zkušeností</div>
          </div>
        </section>

        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/online.svg">
            </div>
            <h3 class="software__title">Propojíme on-line<br>a off-line světy</h3>
            <p class="software__text">
              Víme, že ne všechny cesty vedou skrz on-line svět, proto vám doporučíme vhodné synergické off-line
              aktivity
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/vysledky.svg">
            </div>
            <h3 class="software__title">Měřitelné<br>výsledky</h3>
            <p class="software__text">
              Výstupem našich společných aktivit je strategie, která má měřitelná kritéria
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/brand/analytika.svg">
            </div>
            <h3 class="software__title">Analytika<br><br></h3>
            <p class="software__text">
              Spojujeme čísla a statistiky se selským rozumem. Analytické nástroje umožňují lepší cílení marketingových
              kampaní.
            </p>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/brand/reporting.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Reporting</h2>
                <h5 class="products__subtitle">Manažerský reporting srozumitelně</h5>
                <p class="products__text">K veškerým našim službám dodáváme <strong>pravidelný měsíční report</strong>.
                </p>
                <p class="products__text">K našemu reportingu <strong>nebudete potřebovat slovník cizích slov ani IT
                    příručku</strong>. Nebudeme Vás zatěžovat stohy grafů, statistik ani tvrdých technických obratů.</p>
                <p class="products__text">Stojíme si za tím, že po prvním přečtení našeho reportu je zřejmé, v jakém
                  stavu jsou Vaše investice do marketingu.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}