{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Grafická identita a UX/UI" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/marketing/">Markeging</a></li>
    <li><a href="#">Grafická identita a UX/UI</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/marketing/identita/sticky-icon-identita.svg">
        </div>
        <div class="sticky-element__text">
          Grafická identita a UX/UI
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Grafická identita a UX/UI</h1>
            <p class="intro__text">Pomůžeme Vám odlišit se od konkurence. Dodáme vám grafiku napříč spektrem aplikací
            </p>
            <a href="#content" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>
      <section id="content">
        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/identita/odlistese.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Odlište se!</h2>
                <h5 class="products__subtitle">Kreativní a profesionální grafická prezentace je dnes nezbytná</h5>
                <p class="products__text">Dobře zpracovaná grafická identita je dnes již <strong>nezbytnou
                    součástí</strong> profesionální komunikace. Nová identita vždy posune vaši značku dopředu, což
                  přispěje ke splnění vašich cílů.</p>
                <p class="products__text">S námi získáte <strong>kreativní design</strong>, odpovídající dnešním
                  trendům, vždy však <strong>s ohledem na cílovou skupinu</strong>.</p>
                <p class="products__text">Začínáme u konceptů, ze kterých si vyberete, kterou cestou se chcete vydat.
                  Vizuální identitu vytváříme <strong>vždy společně s vámi</strong> - nasloucháme vám a plníme vaše
                  přání. Poté <strong>profesionálně zpracujeme</strong> vše, co si budete přát. </p>
              </div>
            </div>
          </div>
        </div>

        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/grafika/grafika-online.svg">
            </div>
            <h3 class="software__title">On-line<br><br></h3>
            <p class="software__text">
              Zajistíme vám moderně zpracovaný Newsletter, bannery pro PPC kampaně, veškerou grafiku na sociální sítě, a
              postaráme se o celkový vývoj webů.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/grafika/grafika-offline.svg">
            </div>
            <h3 class="software__title">Off-line<br><br>
            </h3>
            <p class="software__text">
              Dokážeme zpracovat veškeré off-line materiály od výročních zpráv po obalový design a polepy aut.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/grafika/graficky-manual.svg">
            </div>
            <h3 class="software__title">Grafický<br>manuál
            </h3>
            <p class="software__text">
              Lidsky vám popíšeme, jak pracovat s vytvořenou grafickou identitou vaší značky. Podle tohoto manuálu
              zvládnete následnou práci s vaší značkou sami.
            </p>
          </div>
        </div>

        <section class="stats reveal-up200">
          <div class="stats__item">
            <div class="stats__number counter" data-count="25">0</div>
            <div class="stats__text">nových značek</div>
          </div>
          <div class="stats__item">
            <div class="stats__number counter" data-count="12">0</div>
            <div class="stats__text">zemí, kam expandovaly naše e-shopy</div>
          </div>
          <div class="stats__item">
            <div class="stats__number counter" data-count="10">0</div>
            <div class="stats__text">let zkušeností</div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}