{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Products" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./products.js"></script>
{% endblock %}


{% block content %}

<div class="circle-background circle-background--homepage"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/about/index.html">O nás</a></li>
    <li><a href="#">Produkty</a></li>
  </ol>
</nav>
<section class="intro intro--products">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h1 class="intro__title">Strategický partner pro vaši firmu</h1>
      <p class="intro__text">S námi fameless opravdu nebudete. S čím pomůžeme vám?</p>
      <a href="#" class="button-secondary">Zjistit více</a>
    </div>
  </div>
</section>

<section class="blog blog--products products-list">
  <div class="blog__inner grid product-list">
    <div class="row">
      <div class="grid-item">
        <a href="email-marketing.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/email/sticky-icon-email.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Email Marketing
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Naše automatické a personalizované kampaně vám ušetří čas i peníze. Vytvoříme pro vás funkční emailingovou
              strategii na míru.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="sprava-ppc.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/ppc/sticky-icon-ppc.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              PPC kampaně
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Neboli "zaplať za proklik" je jednoduchý, efektivní a snadno měřitelný nástroj. Navrhneme strategii PPC a
              pracujeme podle ní na Google Adwords i Sklik.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="seo.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/ppc/sticky-icon-ppc.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              SEO (optimalizace pro vyhledávače)
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Optimalizace pro vyhledávače Google a Seznam je základ. Naše SEO strategie vám pomohou umísťovat se na
              předních příčkách ve výsledcích vyhledávačů. 
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="tvorba-webu.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/weby/sticky-icon-weby.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Tvorba webů
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Tvoříme weby na míru. Zjistíme, k čemu vlastně je web určen, a přizpůsobíme tomu vlastní stavbu webu.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="brand-management-a-strategie.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/brand/sticky-icon-brand.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Brand management<br>
              a strategie
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Vytvoříme vhodnou marketingovou strategii pro vaše podnikání. Komplexní strategie na míru a všechny služby
              pod jednou střechou.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="brand-management-a-strategie.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/srovnavace/sticky-icon-srovnavace.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Správa zbožových srovnávačů
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Na základě vašich marží navrhneme vhodnou strategii pro zbožové srovnávače.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="eshopy-spolu-s-bs-shop.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/eshopy/sticky-icon-eshopy.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              E-shopy spolu s BSSHOP
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Díky integraci a propojení dalších systémů jako je informační systém Pohoda a v oblasti e-mail marketingu 
              Mailkit dokážeme vytvořit komplexní e-shopové řešení.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="graficka-identita-ux-ui.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/identita/sticky-icon-identita.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Grafický design
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Pomůžeme Vám odlišit se od konkurence. Dodáme vám grafiku napříč spektrem aplikací. Od rozsáhlých e-shopů
              až po polepy aut.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="marketing-na-socialnich-sitich.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/socialy/sticky-icon-socialy.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Marketing na sociálních sítích
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Zákaznící nejčastěji komunikují přes socialní sítě. Při správné implementaci může marketing na sociálních
              sítích přinést význámný přínos vašemu podnikání.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="copywriting-obsahovy-marketing.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/copywriting/sticky-icon-copywriting.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Copywriting / Obsahový marketing
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Nabízíme profesionální správu vašeho marketingu. Zajistíme více relevantní návštěvnost z veškerých
              vhodných kanálů.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="zlepseni-pouzitelnosti-webu.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/marketing/pouzitelnost/sticky-icon-pouzitelnost.svg">
          </div>
          <div class="blog-item__inner">
            <h3 class="blog-item__title blog-item__title--detail">
              Zlepšení použitelnosti webu
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Zákaznící nejčastěji komunikují přes socialní sítě. Při správné implementaci může marketing na sociálních
              sítích přinést význámný přínos vašemu podnikání.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
    </div>
  </div>
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}