{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Správa PPC" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/marketing/">Markeging</a></li>
    <li><a href="#">Správa PPC</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/marketing/ppc/sticky-icon-ppc.svg">
        </div>
        <div class="sticky-element__text">
          Správa PPC
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Správa PPC</h1>
            <p class="intro__text">PPC (Pay Per Click) mají okamžitý dopad na vaši návštěvnost a umožňují vyšší
              možnost zobrazovat se na prvních stránkách vyhledávačů.</p>
            <a href="#contact" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>

      <section id="content">

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/ppc/ppc.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <p class="products__text">PPC kampaně neboli „platba za proklik“ jsou jedním z nejrychlejších a zároveň
                  nejnákladnějších kanálů přímé akvizice nových zákazníků.</p>
                <p class="products__text">Proto <strong>při správě PPC kampaní posuzujeme vždy více faktorů</strong> než
                  je jen první příčka při zobrazení na dané slovní spojení ve vyhledávači.</p>
                <p class="products__text">PPC kampaně vždy tvoříme individuálně <strong>s ohledem na cíle a
                    plány</strong> klienta. Nezáleží na tom, zda je vašim cílem maximalizace tržeb, zisku, maximalizace
                  zobrazení a zvýšení povědomí o značce nebo zvýšení návštěvnosti stránky. </p>
                <p class="products__text">Kampaň vždy společně postavíme tak, aby <strong>korespondovala</strong> s
                  vaším cílem a dala se zpětně vyhodnotit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/ppc/placene-vyhledavani.svg">
            </div>
            <h3 class="software__title">Placené<br>vyhledávání
            </h3>
            <p class="software__text">
              Rychle a efektivně k Vám přivedeme nové zákazníky, kteří hledají Váš produkt nebo službu
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/ppc/remarketing.svg">
            </div>
            <h3 class="software__title">Remarketing
            </h3>
            <p class="software__text">
              Přineseme vám nejkvalitnější návštěvnost tím, že budeme vaši značku vhodně připomínat zákazníkům, kteří
              vás již znají
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/ppc/display-reklama.svg">
            </div>
            <h3 class="software__title">Display<br>reklama</h3>
            <p class="software__text">
              Pomocí bannerů společně rozšíříme povědomí o vaší značce na místech, která navštěvují právě vaši
              potenciální zákazníci
            </p>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/ppc/ppc-reporting.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Reporting</h2>
                <h5 class="products__subtitle">Manažerský reporting srozumitelně</h5>
                <p class="products__text">K veškerým našim službám dodáváme <strong>pravidelný měsíční report</strong>.
                </p>
                <p class="products__text">K našemu reportingu <strong>nebudete potřebovat slovník cizích slov ani IT
                    příručku</strong>. Nebudeme Vás zatěžovat stohy grafů, statistik ani tvrdých technických obratů.</p>
                <p class="products__text">Stojíme si za tím, že po prvním přečtení našeho reportu je zřejmé, v jakém
                  stavu jsou Vaše investice do marketingu.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}