{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Zlepšení použitelnosti webu" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="../marketing/index.html">Markeging</a></li>
    <li><a href="#">Zlepšení použitelnosti webu</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/marketing/pouzitelnost/sticky-icon-pouzitelnost.svg">
        </div>
        <div class="sticky-element__text">
          Zlepšení použitelnosti webu
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Zlepšení použitelnosti webu</h1>
            <p class="intro__text">Řídíme se citátem Steva Kruga „Nenuťte uživatele přemýšlet“</p>
            <a href="#content" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>

      <section id="content">
        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/pouzitelnost/analyza.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Krok 1.: Analýza</h2>
                <h5 class="products__subtitle">Web a e-shop pod drobnohledem</h5>
                <p class="products__text">Kvalitní analýza je nezbytná pro efektivní práci při dlouhodobé optimalizace
                  pro
                  vyhledávače (SEO) a pro vzrůstající návštěvnost organického vyhledávání v Seznamu a Googlu.</p>
                <p class="products__text"><strong>Analýza návštěvnosti webové stránky nebo e-shopu odpoví na
                    otázky:</strong></p>
                <ul>
                  <li>Kdo jsou a kdo by měli být návštěvníci webu</li>
                  <li>Odkud se na web dostávají a odkud naopak nepřicházejí</li>
                  <li>Jak se na stránkách návštěvníci chovají, co je zajímá a odkud nejvíce odcházejí</li>
                  <li>Jak zvýšit míru konverzí stránky vzhledem k návštěvnosti</li>
                  <li>Který obor online marketingu je třeba posílit (SEO, PPC kampaně, sociální sítě atd.)</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="software software--marketing justify-content-center reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/pouzitelnost/ab-testovani.svg">
            </div>
            <h3 class="software__title">A/B testování</h3>
            <p class="software__text">
              Vytvoříme různé varianty typových stránek webu. Následně je náhodně předložíme uživatelům, což nám umožní
              vyhodnotit, která varianta vede častěji ke splnění cíle a bude pro Vás ideálním řešením.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/marketing/pouzitelnost/heatmapy.svg">
            </div>
            <h3 class="software__title">Heatmapy</h3>
            <p class="software__text">
              Analýza uživatelských cest pomocí heatmap s vizualizací kliků se zaměřuje na přímé chování návštěvníků
              stránek. Zjistíme, zda uživatelé upírají svůj zájem směrem k plnění cílů.
            </p>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/marketing/pouzitelnost/naroky.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Nároky na dobrý web</h2>
                <p class="products__text">V první řadě grafický design a informační struktura. A co dál?</p>
                <p class="products__text">Stránky musí být vystavěny s ohledem na <strong>cílovou skupinu</strong> a
                  její specifika, zohledňuje se předpokládané zobrazovací zařízení i rychlost a stabilita aplikace.
                  Důležitou roli sehrává <strong>obsahová náplň a struktura textů</strong>, vertikální řazení náplně
                  webu a viditelnost obsahu nad přehybem každé stránky.</p>
                <p class="products__text">Bude-li naplněno zákazníkovo očekávání, <strong>na Váš web se opakovaně
                    vrátí</strong>, což zvýší prodej i loajalitu zákazníků. Snadné orientace uživatelů <strong>vede
                    k upevnění důvěry</strong> k provozovateli webu a tím i k posílení jeho značky.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}