<div class="team-item">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3 class="position">Strategie & Content </h3>
                <img class="pc-top" src="@images/team/anna-doubravova.png">
            </div>
            <div class="flip-card-back">
                <div class="card-content">
                    <h3>Anna Doubravová</h3>
                    <p>Social marketing </p>
                </div>
            </div>
        </div>
    </div>
</div>