<div class="team-item">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <h3 class="position">Projektový manažer</h3>
                <img class="pc-top" src="@images/team/denisa-prokopova.png">
            </div>
            <div class="flip-card-back">
                <div class="card-content">
                    <h3>Denisa Prokopová</h3>
                    <p>Marketing</p>
                </div>
            </div>
        </div>
    </div>
</div>