@use '../base/fonts/inter.scss' as fontInter;
@use '../base/mixins';
.intro {
    display: flex;
    align-items: center;
    position: relative;
    height: 50vh;
    min-height: 600px;
    &--products {
        justify-content: center;
        text-align: center;
    }
    @include mixins.respond-to(sm) {
        height: 100%;
        padding: 50px 10px;
        text-align: center;
      }
    &__title {
        color: #070058;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 102.083%;
        margin-bottom: 16px;
        @include mixins.respond-to(sm) {
            font-size: 28px;
            line-height: 119%;
        }
    }
    &__text {
        color: #070058;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: fontInter.$font-family-inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 30px;
        @include mixins.respond-to(sm) {
            font-size: 18px;
            line-height: 22px;
        }
    }
    &__mac {
        text-align: right;
        @include mixins.respond-to(sm) {
            text-align: center;
          }
        img {
            width: 320px;
            height: auto;
        }
    }
}