@use '../base/fonts/inter.scss' as fontInter;
@use '../base/mixins';
.products {
    
    &__inner {
        margin: 100px 0;
        @include mixins.respond-to(sm) {
            margin: 50px 0;
        }
    }
    &__item {
        &--left {
            padding-right: 80px;
        }
        &--right {
            padding-left: 80px;
        }
        @include mixins.respond-to(sm) {
            margin-bottom: 40px;
            &--left {
                padding-right: 0;
            }
            &--right {
                padding-left: 0;
            }
        }
    }
    &__images {
        position: relative;
        @include mixins.respond-to(sm) {
            text-align: center;
            width: 60%;
            margin: 0 auto;
        }
        img {
            position: absolute;
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .product-bg {
            position: relative;
            width: 300px;
            @include mixins.respond-to(sm) {
                width: 100%;
            }
        }
        .product-left {
            top: -10px;
            left: -60px;
            z-index: 2;
            width: 170px;
            @include mixins.respond-to(sm) {
                left: -30px;
                width: 120px;
              }
        }
        .product-right {
            top: 32%;
            right: 20px;
            z-index: 2;
            width: 170px;
            @include mixins.respond-to(sm) {
                right: -30px;
                top: 40%;
                width: 120px;
              }
        }
    }
    &__title {
        color: #070058;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 48px;
        font-style: normal;
        font-weight: 600;
        line-height: 102.083%;
        margin-bottom: 16px;
        @include mixins.respond-to(sm) {
            font-size: 28px;
        }
    }
    &__subtitle {
        color: #070058;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: fontInter.$font-family-inter;
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 25px;
        margin-bottom: 32px;
    }
    &__text {
        color: rgba(7, 0, 88, 0.80);
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 30px;
        margin-bottom: 60px;
        strong {
            font-weight: 700;
        }
        @include mixins.respond-to(sm) {
            font-size: 15px;
            margin-bottom: 30px;
        }
    }
}

.products-list {
    .nav-pills .nav-link {
        color: #08005C;
        font-size: 22px;
        font-style: normal;
        font-weight: 600;
        line-height: 30px;
    }
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
        background: none;
        text-decoration: underline;
    }
}

.product-detail {
    position: relative;
    padding-top: 50px;
}
.sticky-element {
    position: sticky;
    height: 200px;
    width: 110px;
    border-radius: 85px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    top: 70px;
    transition: transform 0.2s ease-out;
}