{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Nadstavbové moduly" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/skladovy-system/">Skladový systém</a></li>
    <li><a href="#">Nadstavbové moduly</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/skladovy-system/nadstavbove-moduly/sticky-icon-nadstavba.svg">
        </div>
        <div class="sticky-element__text">
          Důmyslné pokročilé funkce
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Nadstavbové moduly</h1>
            <p class="intro__text">Komplexní strategie na míru, spolupráce více na těsno, všechny služby pod jednou
              střechou</p>
            <a href="#content" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>
      <section id="content">
        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing small"
                    src="@images/skladovy-system/nadstavbove-moduly/nadstavbove-moduly1.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Vkládání fotografií do skladových karet</h2>
                <h5 class="products__subtitle">WMS opičák umí ve skladovém systému vést i obrázky. Proč?
                </h5>
                <p class="products__text">Pro ještě větší optimalizaci efektivity přenosu informací mezi skladovým
                  systémem a vaším e-shopem je možné k jednotlivým skladovým položkám nahrát produktové fotografie. A to
                  jak do produktových karet, tak do dokladů vztažených k objednávce. Ke změně vždy dojde jedním klikem,
                  a to napříč všemi vašimi prodejními kanály.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing"
                    src="@images/skladovy-system/nadstavbove-moduly/nadstavbove-moduly2.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Tisk etiket</h2>
                <h5 class="products__subtitle">WMS opičák hravě zvládá i tisk štítků a dalších etiket.
                </h5>
                <p class="products__text">Tisk etiket u jednotlivých skladových položek je další z nadstavbových funkcí
                  našeho opičáka. Etikety pro označení zboží lze opatřit dynamickými kódy dle země nebo jimi je možné
                  opatřit průvodní dokumenty jako jsou výdejky, příjemky, dodací listy a další. Etikety jsou
                  optimalizovány pro dotykové displeje a je díky nim zajištěna 100% trasovatelnost skladové položky
                  napříč celým procesem.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing"
                    src="@images/skladovy-system/nadstavbove-moduly/nadstavbove-moduly3.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Kamerový<br>záznam balení</h2>
                <h5 class="products__subtitle">WMS opičák ví, v jakém stavu objednávky sklad opouští.
                </h5>
                <p class="products__text">Kamerový záznam pracovního místa při balení totiž probíhá automaticky.
                  I ta sebemenší objednávka proto disponuje svým záznamem, což šetří čas při případných reklamacích,
                  ztrátách balíčků v průběhu dopravy a nebo inventárních nesrovnalostech na skladě.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing"
                    src="@images/skladovy-system/nadstavbove-moduly/nadstavbove-moduly4.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Namátková<br>kontrola</h2>
                <h5 class="products__subtitle">Na WMS opičáka si jen tak něco nepřijde.
                </h5>
                <p class="products__text">Kontroluje totiž v průběhu všech procesů namátkově počet kusů dané položky na
                  jednotlivých pozicích. Tato částečná inventura slouží jako ujištění, že je ve skladu pokaždé vše na
                  svém místě.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing"
                    src="@images/skladovy-system/nadstavbove-moduly/nadstavbove-moduly5.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Inventura</h2>
                <h5 class="products__subtitle">S WMS opičákem je inventura hračka.
                </h5>
                <p class="products__text">Pokaždé ji totiž získáte na jedno kliknutí, v reálném čase, uceleně a nebo jen
                  pro vámi zvolené dílčí segmenty vašeho skladu. Perfektní přehled o svém skladu s opičákem můžete mít
                  několikrát denně, ne jen jednou za rok.</p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}