{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Případová studie" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="#">Případová studie</a></li>
  </ol>
</nav>
<section class="studie-top">
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="studie-top__wrapper">
        <div style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff"
          class="swiper swiper-detail-studie2">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <a href="../assets/img/ekokoza-gallery1.png" data-lightbox="studie-top">
                <img src="@images/studie/ekokoza-gallery-top.png" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="../assets/img/ekokoza-gallery2.png" data-lightbox="studie-top">
                <img src="@images/studie/ekokoza-gallery2.png" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="../assets/img/ekokoza-gallery3.png" data-lightbox="studie-top">
                <img src="@images/studie/ekokoza-gallery3.png" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="../assets/img/ekokoza-gallery4.png" data-lightbox="studie-top">
                <img src="@images/studie/ekokoza-gallery4.png" />
              </a>
            </div>
            <div class="swiper-slide">
              <a href="../assets/img/ekokoza-gallery5.png" data-lightbox="studie-top">
                <img src="@images/studie/ekokoza-gallery5.png" />
              </a>
            </div>
          </div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
        <div thumbsSlider="" class="swiper swiper-detail-studie">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="@images/studie/ekokoza-gallery-nahled1.png" />
            </div>
            <div class="swiper-slide">
              <img src="@images/studie/ekokoza-gallery-nahled2.png" />
            </div>
            <div class="swiper-slide">
              <img src="@images/studie/ekokoza-gallery-nahled3.png" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="studie-detail">
        <!--<div class="studie-detail__labels">
          <div class="label">ESHOP</div>
          <div class="label">EMAILING</div>
        </div>-->
        <div class="studie-detail__title">
          Ekokoza, Naturele: BSSHOP a POHODA
        </div>
        <div class="studie-detail__info">
          <div>
            <img src="@images/icons/date.svg" alt="Datum">
            <span>10/2022 - 09/2023</span>
          </div>
          <div>
            <img src="@images/icons/users.svg" alt="Členů týmu">
            <span>10 členů teamu</span>
          </div>
        </div>
        <div class="studie-detail__text">
          E-shop společnosti Ekokoza s.r.o. postavený v systému Presta byl již <strong>za hranicí své
            živostnosti</strong> a nevyhovoval zcela potřebám firmy, byl zastaralý a ne zcela funkční. Zajistili jsme
          <strong>kompletní řešení</strong> nového e-shopu, který funguje <strong>po celé Evropě</strong>.
        </div>
        <a href="#potreba-klienta" class="button-secondary">To mě zajímá</a>
      </div>
    </div>
  </div>
</section>

<section class="studie-mid" id="potreba-klienta">

  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="studie-mid__item reveal-up100">
        <div class="studie-mid__icon">
          <img src="@images/icons/studie-vlc.svg" alt="Icon">
        </div>
        <div class="studie-mid__title">
          Potřeba klienta
        </div>
        <div class="studie-mid__text">
          <p>E-shop společnosti Ekokoza s.r.o. postavený v systému Presta byl již <strong>za hranicí své
              živostnosti</strong> a nevyhovoval zcela potřebám firmy, byl zastaralý a ne zcela funkční.
          </p>
          <p>POHODA byla ve firmě používaná pouze na účetnictví. Bylo zapotřebí <strong>zefektivnit expedici</strong> a
            sklad. </p>
          <p>Pro změnu zde byla velká míra motivace, protože v zájmu firmy byla zejména rozsáhlejší <strong>expanze na
              trh celé EU</strong>. Expanzi firma vyřešila založením dceřiné společnosti Naturele s.r.o., pod kterou
            bylo zapotřebí vyřešit všechny <strong>zahraniční e-shopy</strong>.</p>
        </div>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="studie-mid__item reveal-up200">
        <div class="studie-mid__icon">
          <img src="@images/icons/studie-circle.svg" alt="Icon">
        </div>
        <div class="studie-mid__title">
          Řešení
        </div>
        <div class="studie-mid__text">
          <p>Data z původního řešení e-shopu byla převedena a pečlivě přetransformována na <strong>řešení
              BSSHOP</strong>.
          </p>
          <p>V původním řešení chyběly parametry produktů, provázanost mezi zbožím, související soubory a další potřebné
            informace. Vše bylo doplněno. Nepřehledné rozsáhlé menu bylo také upraveno na základě doporučení SEO
            specialisty.
          </p>
          <p>Zajistili jsme kompletně <strong>nové logo, grafiku e-shopu</strong> i souvisejících marketingových služeb
            a materiálů. Byla definována <strong>nová šablona a pravidla pro rozesílky newsletterů</strong> a
            věrnostního programu v <strong>Mailkitu</strong>.</p>
          <p>Byla nasazena <strong>POHODA jako IS</strong> pro všechny zaměstnance. Firma implementovala
            <strong>SupportBox napojený na POHODA</strong> pro snazší správu e-mailové komunikace se zákazníky a
            dodavateli.
          </p>
        </div>
      </div>
    </div>
  </div>

</section>

<section class="studie-bottom">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <div class="studie-bottom__text reveal-up100">
        <h2>
          Ekokoza s námi expandovala
        </h2>
        <p>Jako první vzniklo v dubnu 2023 <strong>pět zcela nových e-shopů EKOKOZA</strong> Naturele pod doménami DE,
          AT, IT, FR a COM s <strong>řešením BSSHOP</strong>. Tyto e-shopy jsou velmi automatizované (tvorba objednávek,
          faktur, atd.), byl zde nasazen <strong>automatický skladovací systém WSM, FameDash</strong> pro sledování
          zejména manažerských záležitostí a pro správu zákaznické péče. Na míru zde bylo naprogramováno mnoho funkcí,
          nejzajímavější např. modul pro psaní receptur spolu s BSSHOP, systém správy etiket na zboží a další. Všechny
          tyto e-shopy byly oficiálně překládány rodilými mluvčími. Na DE e-shop byl napojen Marketplace Kaufland DE.
        </p>
        <p>Druhým krokem bylo <strong>překlopení e-shopu pro CZ a SK trh</strong> samotné společnosti Ekokoza. Tento
          krok byl realizován na konci srpna 2023. Tento e-shop využívá jinou účetní jednotku, ale 99% funkcí měl se
          zahraničními e-shopy shodných. Oba projekty velmi prolínají. Pro zboží pro expedici do CZ a SK byl též
          aktualizován stávající systém expedice.</p>
        <img src="@images/studie/ekokoza-phone.png" alt="Ekokoza">
      </div>
    </div>
  </div>
  <!--<div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div class="studie-bottom__image reveal-opacity">
        <img src="@images/studie-bottom.png" alt="Jindřich Macatý">
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 mt-auto">
      <div class="studie-bottom__quote">
        „S Fameless se mi spolupracovalo skvěle, dokází propojit xy s xy a to bylo nejdůležitější kritérium při výběru
        dodavatele.“
      </div>
      <div class="studie-bottom__name">Jindřich Macatý</div>
      <div class="studie-bottom__position">ředitel CFI</div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 col-lg-5 offset-md-2 offset-lg-5">
      <div class="studie-bottom__text reveal-up100">
        <h2>
          Volitelný odstavcový text
        </h2>
        <p>Věříme v otevřenost a komunikaci. Funkční vztahy se zákazníky považujeme za základ úspěšné spolupráce.</p>
        <p>K veškerým našim službám dodáváme pravidelný měsíční report.</p>
        <p>K našemu reportingu nebudete potřebovat slovník cizích slov ani IT příručku. Nebudeme Vás zatěžovat stohy
          grafů,
          statistik ani tvrdých technických obratů.</p>
        <p>Klademe důraz na přehledný, přívětivý výstup a nic neskrýváme. Stojíme si za tím, že po prvním přečtení
          našeho
          reportu je zřejmé, v jakém stavu jsou Vaše investice do marketingu.</p>
        </p>
      </div>
    </div>
  </div>-->
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}