{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="About" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->
<script src="./about.js"></script>
{% endblock %}

{% block content %}

<div class="circle-background"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/about/index.html">O nás</a></li>
  </ol>
</nav>
<section class="intro intro--detail">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h1 class="intro__title">Strategický partner pro vaši firmu</h1>
      <p class="intro__text">S námi fameless opravdu nebudete. S čím pomůžeme vám?</p>
      <a href="#" class="button-secondary">Zjistit více</a>
    </div>
  </div>
</section>

<section class="about">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="about__text">
        <h2>Don't be Fameless</h2>
        <p>Jsme dynamicky se rozvíjející tým mladých, energických a aktivních lidí s vizionářským přístupem. Od původní,
          ryze marketingové agentury jsme ušli kus cesty e-commerce scénou. Poznali jsme tak v celé šíři reálné potřeby
          našich zakázníků a jejich e-shopů. Mimo to jsme pomohli s expanzí do více než 14 zemí Evropy. Ve spolupráci s
          našimi klienty vždy aktivně hledáme ty nejlepší a nejefektivnější cesty k naplnění potenciálu růstu značky.
          Automatizace procesů hraje nejen v tomto směru klíčovou roli.</p>
      </div>
    </div>
    <div class="col-12 col-md-6 offset-lg-2">
      <div class="about__image">
        <img class="product-bg" src="@images/about-top.png">
      </div>
    </div>
  </div>
</section>
<section class="studie-bottom">
  <div class="row">
    <div class="col-12 col-md-4 col-lg-4">
      <div class="studie-bottom__image reveal-opacity">
        <img src="@images/studie-bottom-emilie-tomanova.png" alt="Emílie Tomanová">
      </div>
    </div>
    <div class="col-12 col-md-8 col-lg-6 mt-auto">
      <div class="studie-bottom__quote">
        Ve Fameless jsme připraveni trefit do černého. Naše řešení jsou komplexem všeho, co potřebujete. Mají ale taky
        přesah do dalších oblastí vašeho každodenního počínání.
      </div>
      <div class="studie-bottom__name">Emílie Tomanová </div>
      <div class="studie-bottom__position">zakladatelka Fameless</div>
    </div>
  </div>
</section>

<section class="about-team">
  <div class="row py-4">
    <div class="col">
      {% include "src/views/partials/team/anna-doubravova.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/denisa-prokopova.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/emilie-tomanova.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/eva-pracharova.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/ivo-kylian.html" %}
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      {% include "src/views/partials/team/jakub-sedaj.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/lubos-racek.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/martin-jenik.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/ondra-stantejsky.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/ondra-tobiska.html" %}
    </div>
  </div>
  <div class="row py-4">
    <div class="col">
      {% include "src/views/partials/team/pavla-bubakova.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/vojtech-kral.html" %}
    </div>
    <div class="col">
      {% include "src/views/partials/team/zuzana-cebulova.html" %}
    </div>
  </div>
</section>

<section class="work">
  <div class="section-title">
    <div class="section-title__left">
      <h2 class=" section-title__title">Jak fungujeme?</h2>
    </div>
    <div class="section-title__right">
      <a href="#">Sjednejte si s námi schůzku</a>
    </div>
  </div>
  <div class="work__inner">
    <div class="row">
      <div class="col-12 col-md-12 col-lg-6 justify-content-center align-items-center work__inner--left">
        <div class="work__image">
          <img src="@images/homepage/work-phone.png">
        </div>
      </div>
      <div class="col-12 col-md-12 col-lg-6">
        <div class="accordion reveal-up100" id="accordionExample">
          <div class="accordion-item active">
            <h2 class="accordion-header" id="headingOne">
              <div class="accordion-icon">
                <img src="@images/icons/konzultujeme.svg">
              </div>
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Konzultujeme
              </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingTwo">
              <div class="accordion-icon">
                <img src="@images/icons/analyzujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Analyzujeme
              </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingThree">
              <div class="accordion-icon">
                <img src="@images/icons/navrhujeme_reseni.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Navrhujeme řešení
              </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingFour">
              <div class="accordion-icon">
                <img src="@images/icons/testujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Testujeme
              </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku
              </div>
            </div>
          </div>
          <div class="accordion-item reveal-up100">
            <h2 class="accordion-header" id="headingFive">
              <div class="accordion-icon">
                <img src="@images/icons/implementujeme.svg">
              </div>
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Implementujeme
              </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
              data-bs-parent="#accordionExample">
              <div class="accordion-body">
                Soustředíme se na pochopení vaší značky a vašich produktů jako celku
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="about-timeline">
  <div class="about-timeline__item">
    <div class="about-timeline__year reveal-up400">
      2015
    </div>
    <div class="about-timeline__text reveal-right">
      Založení společnosti a otevření kanceláře
    </div>
  </div>
  <div class="about-timeline__item">
    <div class="about-timeline__year reveal-up400">
      2015
    </div>
    <div class="about-timeline__text reveal-left">
      Založení společnosti a otevření kanceláře
    </div>
  </div>
  <div class="about-timeline__item">
    <div class="about-timeline__year reveal-up400">
      2015
    </div>
    <div class="about-timeline__text reveal-right">
      Založení společnosti a otevření kanceláře
    </div>
  </div>
  <div class="about-timeline__item">
    <div class="about-timeline__year reveal-up400">
      2015
    </div>
    <div class="about-timeline__text reveal-left">
      Založení společnosti a otevření kanceláře
    </div>
  </div>
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}