<a href="../blog-detail/index.html" class="blog-item">
    <div class="blog-item__image">
        <img class="pc-top" src="@images/blog/blog_image.jpg">
        <div class="blog-item__labels">
            <div class="label">
                Eshop
            </div>
            <div class="label">
                Emailing
            </div>
            <div class="label">
                Marketing
            </div>
        </div>
    </div>
    <div class="blog-item__inner">
        <h3 class="blog-item__title">
            Jak na správný Emailing? Poradíme Vám
        </h3>
        <p class="blog-item__text">
            Nabízíme profesionální správu vašeho marketingu. Zajistíme více relevantní návštěvnost z veškerých vhodných
            kanálů.
        </p>
    </div>
    <span class="blog-item__arrow"></span>
</a>