<footer class="footer">
  <div class="footer__inner">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <div class="footer__logo">
            <img src="@images/logo-fameless-footer.svg" alt="Fameless">
          </div>
          <div class="row">
            <div class="col-6">
              <h3 class="footer__title">
                Náš software
              </h3>
              <ul class="footer__list">
                <li>
                  <a href="#" class="footer__link">FameBee</a>
                </li>
                <li>
                  <a href="#" class="footer__link">FameDash</a>
                </li>
                <li>
                  <a href="#" class="footer__link">FameDoc</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Napojení na pohodu</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <h3 class="footer__title">
                Kam dál?
              </h3>
              <ul class="footer__list">
                <li>
                  <a href="#" class="footer__link">O nás</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Marketing</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Systémová řešení</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Případové studie</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Kontakty</a>
                </li>
                <li>
                  <a href="#" class="footer__link">Novinky</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="newsletter">
            <h3 class="footer__title">
              Odebírejte novinky z fameless
            </h3>
            <form class="newsletter__form">
              <div class="d-flex-inline">
                <input type="email" placeholder="Váš e-mail">
                <button type="submit">Odeslat</button>
              </div>
              <label class="checkbox-container">
                Zaškrtnutím tohoto pole souhlasíte s GDPR ...
                <input type="checkbox" name="gdpr">
                <span class="checkmark"></span>
              </label>
            </form>
          </div>
          <div class="row">
            <div class="col-6">
              <ul class="footer__list--icons">
                <li>
                  <a href="mailto:emilie@fameless.cz" class="footer__link footer__link--email">emilie@fameless.cz</a>
                </li>
                <li>
                  <a href="tel:534534623" class="footer__link footer__link--phone">+420 534 534 623</a>
                </li>
                <li>
                  <a href="#" class="footer__link footer__link--form">Kontaktní formulář</a>
                </li>
                <li>
                  <a href="https://maps.app.goo.gl/cj7Le8nj8XYy6puv8" target="_blank" rel="noopener"
                    class="footer__link  footer__link--location">Divadelní 847
                    Letohrad,
                    561 51</a>
                </li>
              </ul>
            </div>
            <div class="col-6">
              <ul class="footer__list--icons">
                <li>
                  <a href="#" class="footer__link footer__link--facebook">Facebook</a>
                </li>
                <li>
                  <a href="#" class="footer__link footer__link--linkedin">LinkedIn</a>
                </li>
                <li>
                  <a href="#" class="footer__link footer__link--instagram">Instagram</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="footer__copyright">
      <p>Fameless 2024 Všechna práva vyhrazena.</p>
    </div>
  </div>
</footer>