<nav>
  <a href="#" class="navigation__link navigation__link--marketing">Marketing</a>
  <a href="#" class="navigation__link navigation__link--vyvoj">Vývoj</a>
  <a href="#" class="navigation__link navigation__link--famedash">Famedash</a>
  <a href="#" class="navigation__link navigation__link--integrace">Integrace systémů</a>
  <a href="#" class="navigation__link navigation__link--sklad">Skladový systém</a>
  <a href="#" class="navigation__link navigation__link--studie">Případové studie</a>
</nav>