<div class="services__left col-12 col-xl-12 col-xxl-7">
    <h4>Pohoda by Fameless</h4>
    <div class="services__inner">
        <a href="/pohoda/" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--pohoda">
                    <img src="@images/icons/rozsireni_pohody.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Rozšíření POHODA</h3>
            <p class="services__text">Webová aplikace <strong>FameDash</strong> nejen pro automatizaci procesů</p>
        </a>
        <a href="/skladovy-system/" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--sklad">
                    <img src="@images/icons/skladovy_system.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Skladový systém</h3>
            <p class="services__text"><strong>WMS Storage Monkey:</strong> Aplikace pro čtečky, příjem, sběr a expedice
            </p>
        </a>
        <a href="/vyvoj/" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--vyvoj">
                    <img src="@images/icons/vyvoj.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Vývoj</h3>
            <p class="services__text">Systémová řešení<br>na míru. Eshopy<br> s <strong>BSSHOP</strong></p>
        </a>
    </div>
</div>

<div class="services__right col-12 col-xl-12 col-xxl-5">
    <h4>E-commerce</h4>
    <div class="services__inner">
        <a href="/integrace-systemu/" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--integrace">
                    <img src="@images/icons/integrace.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Integrace</h3>
            <p class="services__text">Konektor <strong>FameBee</strong> pro napojení Pohody a dalších systémů 3. stran
            </p>
        </a>
        <a href="/marketing/index.html" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--marketing">
                    <img src="@images/icons/marketing.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Marketing</h3>
            <p class="services__text">Brand a strategie, výkon, <strong>Mailkit</strong>, zahraniční expanze e-shopů</p>
        </a>
    </div>
</div>