<div class="services__left col-12 col-md-6 col-lg-6 col-xl-7">
    <h4>Pohoda by Fameless</h4>
    <div class="services__inner">
        <a href="#" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--pohoda">
                    <img src="@images/icons/rozsireni_pohody.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Rozšíření Pohody</h3>
            <p class="services__text">Webová aplikace Famedash spojená na živých datech s Pohodou</p>
        </a>
        <a href="#" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--sklad">
                    <img src="@images/icons/skladovy_system.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Skladový systém</h3>
            <p class="services__text">Aplikace pro čtečky, příjem a pozicování, efektivní sběr a výdej</p>
        </a>
        <a href="#" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--integrace">
                    <img src="@images/icons/skladovy_system.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Integrace systémů</h3>
            <p class="services__text">Aplikace pro čtečky, příjem a pozicování, efektivní sběr a výdej</p>
        </a>
    </div>
</div>

<div class="services__right col-12 col-md-6 col-lg-6 col-xl-5">
    <h4>E-commerce</h4>
    <div class="services__inner">
        <a href="#" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--vyvoj">
                    <img src="@images/icons/vyvoj.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Vývoj</h3>
            <p class="services__text">Systémová řešení na míru. Eshopy s BS-shopem, weby</p>
        </a>
        <a href="#" class="services__item">
            <div class="services__icons">
                <div class="services__icon services__icon--marketing">
                    <img src="@images/icons/marketing.svg">
                </div>
                <span class="services__arrow"></span>
            </div>
            <h3 class="services__title">Marketing</h3>
            <p class="services__text">Brand a strategie, zahraniční expanze a Grafické řešení</p>
        </a>
    </div>
</div>