<div class="team-item">
    <div class="flip-card">
        <div class="flip-card-inner">
            <div class="flip-card-front">
                <img class="pc-top" src="@images/team/team-image.png">
            </div>
            <div class="flip-card-back">
                <div class="card-content">
                    <h2>Martin Pártl</h2>
                    <p>Zabývá se oblastí SEO optimalizací a rozumí frontendu.</p>
                </div>
            </div>
        </div>
    </div>
</div>