{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Integrace systémů" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}


{% block content %}

<div class="circle-background circle-background--homepage"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="#">Integrace systémů</a></li>
  </ol>
</nav>
<section class="intro intro--products">
  <div class="row align-items-center justify-content-center">
    <div class="col-12">
      <h1 class="intro__title">Integrace systémů</h1>
      <p class="intro__text">S námi fameless opravdu nebudete. S čím pomůžeme vám?</p>
      <a href="#" class="button-secondary">Zjistit více</a>
    </div>
  </div>
</section>

<section class="blog blog--products products-list">
  <div class="blog__inner grid product-list">
    <div class="row">
      <div class="grid-item">
        <a href="konektor-famebee.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/integrace-systemu/famebee/sticky-icon-famebee.svg">
          </div>
          <div class="blog-item__inner blog-item__inner--detail">
            <h3 class="blog-item__title blog-item__title--detail">
              Konektor FameBee
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Integrační můstek pro ekonomický a informační systém POHODA.
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
      <div class="grid-item">
        <a href="supportbox-pohoda.html" class="blog-item">
          <div class="blog-item__image blog-item__image--detail">
            <img class="pc-top" src="@images/icons/integrace-systemu/supportbox/sticky-icon-supportbox.svg">
          </div>
          <div class="blog-item__inner blog-item__inner--detail">
            <h3 class="blog-item__title blog-item__title--detail">
              SupportBox & POHODA
            </h3>
            <p class="blog-item__text blog-item__text--detail">
              Jednoduché a efektivní řešení zobrazení objednávek
            </p>
          </div>
          <span class="blog-item__arrow"></span>
        </a>
      </div>
    </div>
  </div>
</section>

{% include "src/views/partials/contact-banner.html" %}
{% endblock %}