{% extends "src/views/layouts/default.html" %}

<!-- set variables used in layout -->
{% set title="Fameless | Konektor FameBee" %}

{% block styles %}
<!-- load specific page style -->

{% endblock %}

{% block scripts %}
<!-- load specific page script -->

{% endblock %}

{% block content %}

<div class="circle-background circle-background--product"></div>
<nav aria-label="Breadcrumb">
  <ol class="breadcrumbs">
    <li><a href="/"><img src="@images/icons/home-icon.svg"></a></li>
    <li><a href="/integrace-systemu/">Integrace systémů</a></li>
    <li><a href="#">Konektor FameBee</a></li>
  </ol>
</nav>
<div class="product-detail">
  <div class="row">
    <div class="col-12 col-md-1">
      <div class="sticky-element">
        <div class="sticky-element__image">
          <img src="@images/icons/integrace-systemu/famebee/sticky-icon-famebee.svg">
        </div>
        <div class="sticky-element__text">
          Konektor FameBee
        </div>
      </div>
    </div>
    <div class="col-12 col-md-11">
      <section class="intro intro--product-detail">
        <div class="row align-items-center justify-content-center">
          <div class="col-12">
            <h1 class="intro__title">Konektor FameBee</h1>
            <p class="intro__text">Integrační můstek pro ekonomický a informační systém POHODA.</p>
            <a href="#content" class="button-secondary">Zjistit více</a>
          </div>
        </div>
      </section>
      <section id="content">
        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/integrace-systemu/famebee/flexibilni-integrace.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Flexibilní integrace</h2>
                <p class="products__text">Některé z firemních aplikací nemusí být cloudové. Data v nich proto zůstávají
                  na počítači nebo lokálním serveru. K tomu, aby se lokálně instalované aplikace propojily s cloudovým
                  řešením POHODA slouží <strong>FameBee</strong>.</p>
                <p class="products__text">FameBee je naše <strong>pilná včelka</strong>, která <strong>přenáší potřebná
                    data z jednoho datového úlu do druhého</strong>. Dovede se navíc přizpůsobit workflow vaší firmy a
                  maximálně vám tak usnadní automatizaci přenos dat..</p>
              </div>
            </div>
          </div>
        </div>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/integrace-systemu/famebee/neni-to-moc-slozite.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Není to moc složité?</h2>
                <p class="products__text">Naopak! Celá instalace je velmi jednoduchá.</p>
                <p class="products__text">Aplikaci si stáhnete a naistalujete pouze jednou a následně díky ní můžete
                  připojovat další a další systémy. Instalace je velmi jednoduchá a stačí znát jen pár základních
                  informací o vaší Pohodě.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-11">
            <div class="product-full">
              <h2 class="product-full__title">
                Co umíme napojit?
              </h2>
            </div>
          </div>
        </div>

        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/integrace-systemu/famebee/supportbox.svg">
            </div>
            <h3 class="software__title">SupportBox</h3>
            <p class="software__text">
              SupportBox je skvělý pomocník pro správu e-mailů.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/integrace-systemu/famebee/google-bigquery.svg">
            </div>
            <h3 class="software__title">Google Big Query</h3>
            <p class="software__text">
              Sledujete a analyzujete vaše data v Googe Big Query? Umíme s tím pracovat.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/integrace-systemu/famebee/famedash.svg">
            </div>
            <h3 class="software__title">FameDash</h3>
            <p class="software__text">
              FameDash je komplexní online webová plastforma napojená na ekonomický a inrofamční systém POHODA.
            </p>
          </div>
        </div>

        <div class="software software--marketing reveal-up100">
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/integrace-systemu/famebee/zakaznicke-reseni.svg">
            </div>
            <h3 class="software__title">Zákaznické řešení</h3>
            <p class="software__text">
              Nevybrali jste si z toho, co umíme v základu? Nevadí, vymyslíme pro vás řešení na míru.
            </p>
          </div>
          <div class="software__item">
            <div class="software__icon">
              <img src="@images/icons/integrace-systemu/famebee/pripravujeme-dalsi.svg">
            </div>
            <h3 class="software__title">Připravujeme další</h3>
            <p class="software__text">
              Sledujte nás u dozvíte se, co připravujeme nového.
            </p>
          </div>
        </div>


        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-2">
              <div class="products__item products__item--right-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/integrace-systemu/famebee/jak-probiha-instalace.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5 order-md-1 order-lg-1">
              <div class="products__item">
                <h2 class="products__title">Jak probíhá instalace?</h2>
                <h5 class="products__subtitle">Zvládnete to sami a velmi rychle!</h5>
                <ul>
                  <li>Stáhnete si aplikaci <a href="https://connector.fameless.cz/install/FameBee-installer.exe">ZDE</a>
                  </li>
                  <li>Aplikaci spustíte a odsouglasíte licenční podmínky.</li>
                  <li>Aplikaci nainstalujete.</li>
                  <li>FameBee bude zapotřebí ještě nastavit. Spustíte apliklaci.</li>
                  <li>Odsouhlasíte kompletně licenční a všeobecné podmínky i pravidla pro užívání.</li>
                </ul>
                <p class="products__text">Nebojte, pokud si s něčím nebudete vědět rady, jdme tu pro vás!</p>
              </div>
            </div>
          </div>
        </div>

        <section class="work">
          <div class="section-title">
            <div class="section-title__left">
              <h2 class=" section-title__title">S námi to zvládnete snadno</h2>
            </div>
          </div>
          <div class="work__inner">
            <div class="row align-items-center">
              <div class="col-12 col-md-12 col-lg-6 justify-content-center work__inner--left">
                <div class="work__image">
                  <img src="@images/integrace-systemu/famebee/s-nami-to-zvladnete-snadno.png" class="full-width">
                </div>
              </div>
              <div class="col-12 col-md-12 col-lg-6">
                <div class="accordion reveal-up100" id="accordionExample">
                  <div class="accordion-item active">
                    <h2 class="accordion-header" id="headingOne">
                      <div class="accordion-icon">
                        <img src="@images/icons/konzultujeme.svg">
                      </div>
                      <button class="accordion-button" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        Nainstalujete FameBee
                      </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Nainstalujete si aplikaci FameBee podle návodu na supportbox.cz.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item reveal-up100">
                    <h2 class="accordion-header" id="headingTwo">
                      <div class="accordion-icon">
                        <img src="@images/icons/analyzujeme.svg">
                      </div>
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        Propojíte SupportBox a Pohodu
                      </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Po instalaci FameBee propojíte dle návodu SupportBox s Pohodou.
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item reveal-up100">
                    <h2 class="accordion-header" id="headingThree">
                      <div class="accordion-icon">
                        <img src="@images/icons/navrhujeme_reseni.svg">
                      </div>
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        14 dní zdarma na zkoušku
                      </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        14 dní máte zdarma na vyzkoušení, k ničemu se tedy na začátku nezavazujete
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item reveal-up100">
                    <h2 class="accordion-header" id="headingFour">
                      <div class="accordion-icon">
                        <img src="@images/icons/testujeme.svg">
                      </div>
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                        Kontaktujeme vás
                      </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Po 12. dnech od instalace vám zavoláme, zda jste spokojeni a aplikaci si necháte
                      </div>
                    </div>
                  </div>
                  <div class="accordion-item reveal-up100">
                    <h2 class="accordion-header" id="headingFive">
                      <div class="accordion-icon">
                        <img src="@images/icons/implementujeme.svg">
                      </div>
                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                        Appku si necháte nebo vrátíte
                      </button>
                    </h2>
                    <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                      data-bs-parent="#accordionExample">
                      <div class="accordion-body">
                        Když nebudete mít zájem o využití napojení, do koupě licence vás nutit nebudeme
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>

        <div class="products__inner">
          <div class="row justify-content-md-center">
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item products__item--left-marketing reveal-opacity">
                <div class="products__images products__images--marketing justify-content-center">
                  <img class="product-marketing" src="@images/integrace-systemu/famebee/kolik-me-to-bude-stat.png">
                </div>
              </div>
            </div>
            <div class="col-12 col-md-6 col-lg-5">
              <div class="products__item">
                <h2 class="products__title">Kolik mě to<br>bude stát?</h2>
                <p class="products__text">Cena je u nás transparentní, stejná pro všechny zákazníky, pokud nevyžadujete
                  úpravy na míru.</p>
                <p class="products__text">Máte 14 dní zdarma na vyzkoušení. Pokud nebudete spokojeni, nemusíte nic
                  platit ani řešit, jen vám propojení přestane fungovat.</p>
                <p class="products__text">Jednorázová cena: <strong>5 000 Kč</strong><br>Roční servisní poplatek:
                  <strong>790 Kč</strong>
                </p>
              </div>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</div>


{% include "src/views/partials/contact-banner.html" %}
{% endblock %}