<!DOCTYPE html>
<html lang="cs" dir="ltr">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>

  <!-- load source favicon via Webpack alias '@images' -->
  <link rel="apple-touch-icon" sizes="180x180" href="@images/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="@images/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="@images/favicon/favicon-16x16.png">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">

  <!-- load global source script via Webpack alias '@scripts' -->
  <script src="@scripts/common.js" defer="defer"></script>

  <!-- block for specific page styles -->
  {% block styles %}{% endblock %}
</head>

<body data-scroll-container>
  <!-- Header -->
  <header>
    <div class="header-container">
      <div class="container">
        <div class="header-content">
          <a class="header-left" href="index.html">
            <img class="app-logo" src="@images/logo-fameless.svg">
          </a>
          {% include "src/views/partials/navigation.html" %}
        </div>
      </div>
    </div>
  </header>

  <!-- Main content -->
  <main class="main-container">
    <div class="main-content">
      <div class="container">
        <!-- block for specific page content -->
        {% block content %}{% endblock %}
      </div>
    </div>
  </main>

  <!-- Footer -->
  <div class="footer-container">
    {% include "src/views/partials/footer.html" %}
  </div>

  <!-- block for specific page scripts -->
  {% block scripts %}{% endblock %}
</body>

</html>